<div data-theme="bumblebee" class="min-h-screen bg-base-200 p-4 lg:p-8">
  <div class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-3 gap-8">
    <!-- 左邊教練小卡 -->
    <aside class="lg:col-span-1">
      @if (coachData()) {
      <app-coursefor-coach-profile [item]="coachData()!">
      </app-coursefor-coach-profile>
      } @else {
      <span class="loading loading-dots loading-lg text-primary"></span>
      }
    </aside>

    <main class="lg:col-span-2 space-y-8">
      <!-- 開課中 -->
      <section data-theme="bumblebee" class="p-4">
        <app-course-expend-detail></app-course-expend-detail>
      </section>
      <!-- 開課結束 -->
      <!-- 學員評論 -->
      <section>
        <main class="lg:col-span-2 space-y-8">
          <div>
            <button class="btn btn-ghost btn-sm gap-2 text-secondary">
              我要評論
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </button>
          </div>
          <app-memreview-card></app-memreview-card>
          <div class="space-y-4">
            <!-- @for(review of coachData()?.review; track $index){
            <div class="bg-base-100 p-6 rounded-2xl shadow-sm border border-base-200">
            </div>
          } -->
          </div>

        </main>
      </section>


    </main>




  </div>

  @if(isLoggedIn()){
  <app-little-island></app-little-island>
  }
  <app-footer></app-footer>