<header class="sticky top-0 z-50 bg-primary shadow-md">
  <!-- 手機板Navbar -->
  <div class="lg:hidden navbar bg-primary text-primary-content h-16">
    <div class="navbar-start">
      @if (currentUser) {
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
          </svg>
        </div>
        <ul tabindex="-1"
          class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow text-base-content">
          <li>
            <details>
              <summary class="font-bold">討論板</summary>
              <ul>
                <li><a routerLink="/forum/posts">全部貼文</a></li>
                <li><a routerLink="/forum/boards">全部看板</a></li>
                <li><a routerLink="/forum/member/wall" [queryParams]="{ sortBy: 'posted' }">我的貼文</a></li>
              </ul>
            </details>
          </li>
          <li><a routerLink="/trip/explore" class="font-bold">揪團行程</a></li>
          <li><a routerLink="/experience" class="font-bold">課程體驗</a></li>
          <li><a routerLink="/house" class="font-bold">房源預約</a></li>
          <li><a routerLink="/memberCenter/member" class="font-bold">會員中心</a></li>
          <li><a class="text-error font-semibold" (click)="onLogout()">登出</a></li>
        </ul>
      </div>
      }
    </div>
    <div class="navbar-center">
      <a class="flex items-center" href="/">
        <img src="salter-logo.svg" alt="Salter Logo" width="110px">
      </a>
    </div>
    <div class="navbar-end">
      @if (currentUser) {
      <button class="btn btn-ghost btn-circle">
        <i class="bi bi-search text-xl"></i>
      </button>

      } @else {
      <a class="btn btn-ghost btn-sm text-primary-content" routerLink="/login">登入</a>
      }
    </div>
  </div>
  <!-- 手機Dock-->
  @if (currentUser) {
  <div class="lg:hidden dock bg-base-100 border-t border-base-300">
    <a class="text-base-content opacity-60" routerLink="/forum/posts" routerLinkActive="text-primary">
      <i class="bi bi-signpost-2-fill text-2xl"></i>
      <span class="dock-label">討論</span>
    </a>

    <a class="text-base-content opacity-60" routerLink="/trip/explore" routerLinkActive="text-primary">
      <i class="bi bi-suitcase-fill text-2xl"></i>
      <span class="dock-label">揪團</span>
    </a>

    <a class="text-base-content opacity-60" routerLink="/experience" routerLinkActive="text-primary">
      <i class="bi bi-tsunami text-2xl"></i>
      <span class="dock-label">體驗</span>
    </a>

    <a class="text-base-content opacity-60" routerLink="/house" routerLinkActive="text-primary">
      <i class="bi bi-house-add-fill text-2xl"></i>
      <span class="dock-label">房源</span>
    </a>

    <a class="text-base-content opacity-60" routerLink="/memberCenter/member" routerLinkActive="text-primary">
      <i class="bi bi-person-fill text-2xl"></i>
      <span class="dock-label">會員</span>
    </a>
  </div>
  }
  <!-- 電腦板Navbar -->
  <div class="hidden lg:grid navbar bg-primary text-primary-content px-4 py-2 grid-cols-12 container mx-auto md:px-25">
    <div class="col-span-6 flex items-center gap-4">
      <a class="flex-shrink-0 transition-transform hover:scale-105" routerLink="">
        <img src="salter-logo.svg" alt="Logo" width="130px">
      </a>
      <div class="flex-grow max-w-md ml-4">
        <div class="relative group">
          <input [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" type="text" placeholder="輸入貼文關鍵字後按Enter......"
            class="input input-bordered w-full text-base-content h-10 rounded-full bg-base-100/90 focus:bg-white transition-all pl-10" />
          <div class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-6 flex items-center justify-end gap-2">
      <div class="flex items-center gap-6 mr-4">
        <div class="tooltip tooltip-bottom" data-tip="討論區">
          <a class="btn btn-ghost btn-circle hover:bg-white/20" routerLink="/forum/posts" routerLinkActive="active">
            <i class="bi bi-signpost-2-fill text-2xl"></i>
          </a>
        </div>
        <div class="tooltip tooltip-bottom" data-tip="揪團">
          <a class="btn btn-ghost btn-circle hover:bg-white/20" routerLink="/trip/explore" routerLinkActive="active">
            <i class="bi bi-suitcase-fill text-2xl"></i>
          </a>
        </div>
        <div class="tooltip tooltip-bottom" data-tip="房源">
          <a class="btn btn-ghost btn-circle hover:bg-white/20" routerLink='/house' routerLinkActive="active">
            <i class="bi bi-house-add-fill text-2xl"></i>
          </a>
        </div>
        <div class="tooltip tooltip-bottom" data-tip="體驗">
          <a class="btn btn-ghost btn-circle hover:bg-white/20" routerLink="/experience" routerLinkActive="active">
            <i class="bi bi-tsunami text-2xl"></i>
          </a>
        </div>
      </div>
      <div class="flex items-center gap-2 border-l border-white/20 pl-4">
        @if (currentUser) {

        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar online">
            <div class="w-10 rounded-full ring ring-offset-2 ring-primary-content">
              <img alt="User Avatar" [src]="currentUser.picture" class="w-full h-full object-cover object-top"
                style="image-rendering: -webkit-optimize-contrast;" />
            </div>
          </div>
          <ul tabindex="-1"
            class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow text-base-content">
            <div class="px-4 py-2 font-bold border-b border-base-200 mb-1 text-primary-content">
              {{ currentUser.name }}
            </div>
            <li><a class="justify-between" routerLink="/memberCenter/member">個人檔案<span
                  class="badge badge-primary">New</span></a></li>
            <li><a routerLink="/forum/member/wall" [queryParams]="{ sortBy: 'posted' }">我的貼文</a></li>
            <li><a routerLink="/memberCenter/bookingList"><span>我的房屋預約訂單</span></a></li>
            <li><a (click)="chatState.toggle()" class="cursor-pointer">客服機器人</a></li>
            <!-- <li><button (click)="testAuth()" class="btn btn-outline btn-info btn-sm">
                🔍 測試 Token
              </button></li> -->
            <hr class="my-1 opacity-20" />
            <li><a class="text-error font-semibold" (click)="onLogout()">登出</a></li>
          </ul>
        </div>
        }@else {
        <a class="btn btn-outline btn-sm rounded-full text-black hover:bg-white hover:text-black transition-all px-6"
          routerLink="/login">
          登入 / 註冊
        </a>
        }
      </div>
    </div>
  </div>
</header>