<div data-theme="bumblebee" class="min-h-screen bg-base-200 p-4 lg:p-8">
  <div class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-3 gap-8">
    <!-- 左邊教練卡 -->
    <aside class="lg:col-span-1">
      <app-coursefor-coach-profile></app-coursefor-coach-profile>
    </aside>

    <main class="lg:col-span-2 space-y-8">
      <!-- 開課中 -->
      <section data-theme="bumblebee" class="p-4">
        <app-coach-course-expend-content></app-coach-course-expend-content>
      </section>
    </main>




    <!-- 開課結束 -->
    <!-- 學員評論 -->
    <!--
          <button class="btn btn-ghost btn-sm gap-2 text-secondary">
            我要評論
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </button>
        </div>
        <app-memreview-card></app-memreview-card>
        <div class="space-y-4">
          <div *ngFor="let review of reviews" class="bg-base-100 p-6 rounded-2xl shadow-sm border border-base-200">
          </div>
        </div>
      </section>

    </main>
  </div> -->
  </div>
