<div data-theme="bumblebee" class="min-h-screen bg-base-100">

  <div class="hero min-h-[300px]"
    style="background-image: url(https://res.cloudinary.com/dnqawxc59/image/upload/v1774451358/background_vn7rxo.png);">
    <div class="hero-overlay bg-opacity-40"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-2xl">
        <h1 class="mb-5 text-5xl font-bold leading-tight drop-shadow-lg">
          尋找專業教練 <br />
        </h1>
        <p class="mb-8 text-lg font-bold opacity-90">探索全台最頂尖的水域運動教練，開啟你的海洋冒險。</p>

        <div class="form-control w-full max-w-md mx-auto">
          <!--  -->
          <app-search (searchComplete)="handleSearchResult($event)"></app-search>
          <!--  -->
        </div>
      </div>
    </div>
  </div>


  <!-- 卡片們 -->

  <div class="container mx-auto px-4 py-10">

    @if (isSearching) {
    <div class="flex justify-between items-center mb-10">
      <h2 class="text-3xl font-bold text-primary">搜尋結果</h2>
      <button (click)="backToDefault()" class="btn btn-outline btn-sm">返回推薦列表</button>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-24 pt-10 place-items-center">
      @for (item of searchCoaches; track item.coachId) {
      <app-fav-card [item]="item" [isFav]="myFavIds().includes(item.coachId)"
        [courseName]="allCourseMap[item.coachId] || '查詢中...'">
      </app-fav-card>
      } @empty {
      <div class="text-center py-20 w-full col-span-full">
        <p class="text-xl opacity-50">哎呀！找不到符合關鍵字的教練...</p>
      </div>
      }
    </div>
    }
    @else{
    <div class="flex flex-col w-full items-center">

      <div role="tablist" class="tabs tabs-lifted tabs-lg w-full max-w-6xl">

        <input type="radio" name="coach_tabs" role="tab" class="tab font-bold text-lg" aria-label="-- 熱門推薦 --"
          checked />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-10">
          <!-- 熱門迴圈 -->
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-24 pt-20 place-items-center">
            @for (item of coaches; track item.coachId) {
            <app-fav-card [item]="item" [isFav]="myFavIds().includes(item.coachId)"
              [courseName]="allCourseMap[item.coachId] || '載入中...'" (removeMe)="handleRemove($event)">
            </app-fav-card>
            }@empty {
            <div class="col-span-full flex flex-col items-center py-10 text-base-content/50">
              <span class="loading loading-spinner loading-lg text-primary"></span>
              <p class="mt-4 font-bold">教練正在游過來，請稍候...</p>
            </div>
            }
          </div>

          @if (coaches.length > 0 && hasMorePages) {
          <div class="flex justify-center mt-20">
            <button (click)="LoadMore()"
              class="btn btn-primary btn-outline btn-wide shadow-md hover:scale-105 transition-all">
              看更多熱門教練
            </button>
          </div>}@else{
          <div class="flex justify-center mt-20">
            <p class="text-base-content/50 font-bold">其他教練還在海裡</p>
          </div>}

        </div>

        <input type="radio" name="coach_tabs" role="tab" class="tab font-bold text-lg" aria-label="-- 最新入駐--" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-10">
          <!-- 最新迴圈 -->
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-24 pt-20 place-items-center">
            @for (item of latestC; track item.coachId) {
            <app-fav-card [item]="item" [isFav]="myFavIds().includes(item.coachId)"
              [courseName]="allCourseMap[item.coachId] || '載入中...'">
            </app-fav-card>
            } @empty {
            <div class="col-span-full text-center py-10 text-base-content/50">
              目前還沒有新教練入駐喔！
            </div>
            }
          </div>
          @if (coaches.length > 0 && hasMorePages) {
          <div class="flex justify-center mt-20">
            <button (click)="LoadMore()"
              class="btn btn-primary btn-outline btn-wide shadow-md hover:scale-105 transition-all">
              看更多最新教練
            </button>
          </div>}@else{
          <div class="flex justify-center mt-20">
            <p class="text-base-content/50 font-bold">其他教練還在海裡</p>
          </div>}
        </div>

      </div>
    </div>
    }
  </div>
  <!-- @if (notificationS.message$ | async; as info) {
  <div class="fixed top-24 right-5 z-[9999] transition-all">
    <div [class]="info.type === 'success' ? 'alert alert-success' : 'alert alert-error'"
      class="shadow-lg border-2 flex items-center gap-2 p-4 rounded-lg">

      @if (info.type === 'success') {
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6 text-white" fill="none"
        viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      } @else {
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6 text-white" fill="none"
        viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      }

      <span class="font-bold text-white">{{ info.msg }}</span>
    </div>
  </div>
  } -->

  <app-little-island></app-little-island>
  <app-footer></app-footer>

</div>