<app-noavatar title="收藏教練" data-theme="bumblebee">
  <div class="mt-10 grid grid-cols-1 md:grid-cols-3 gap-6 px-4">
    @for(c of coaches; track c.coachId) {
    <app-fav-card [item]="c" [isFav]="true" [courseName]="allCourseMap[c.coachId] || '載入中...'"
      (removeMe)="handleRemove($event)">
    </app-fav-card>
    } @empty {
    <div class="col-span-full flex flex-col items-center py-10 text-base-content/50">
      <span class="loading loading-spinner loading-lg text-primary"></span>
      <p class="mt-4 font-bold">教練正在游過來，請稍候...</p>
    </div>
    }
  </div>

  @if (coaches.length > 0 && hasMorePages) {
  <div class="flex justify-center mt-20 mb-10">
    <button (click)="LoadMore()" class="btn btn-primary btn-outline btn-wide shadow-md hover:scale-105 transition-all">
      看更多收藏教練
    </button>
  </div>
  } @else if (coaches.length > 0) {
  <div class="flex justify-center mt-20 mb-10">
    <p class="text-base-content/50 font-bold">其他教練還在海裡</p>
  </div>
  }
</app-noavatar>

<div class="my-20">
  <app-little-island></app-little-island>
</div>
<app-footer></app-footer>