<div class="bg-base-100 border border-base-300 rounded-xl overflow-hidden">

  <div class="card bg-base-100 rounded-xl overflow-hidden mb-4 hover:border-primary/30 transition-all duration-300">
    <div class="card-body p-4">



      <div class="max-w-2xl mx-auto bg-white min-h-screen">

        <div class="post-detail p-4">
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="w-10 h-10 rounded-full ring-1 ring-base-200 shadow-sm">
                <img src="/admin/imgs/20260318161323_Keroro.png" alt="avatar" />
              </div>
            </div>
            <div class="flex-1 flex items-center justify-between">
              <div class="flex items-center gap-1">
                <span
                  class="font-bold text-[14px] hover:underline cursor-pointer text-base-content">Chloe10430632</span>
                <span class="ml-5 text-base-content/50">></span>
                <div class="badge badge-primary ml-5 font-bold">SUP立槳</div>
                <span class="ml-5 text-base-content/50 ml-1 font-medium text-[13px]">作者</span>
                <span class="text-base-content/50 text-[13px] font-medium ml-3">12小時前</span>
              </div>
              <div class="flex items-center gap-3 text-base-content/40">
                <!-- 瀏覽量 -->
                <span class="text-[12px]"><i class="fa-regular fa-eye mr-1"></i>1,524</span>

              </div>
            </div>
          </div>

          <div class="flex gap-3">
            <div class="flex-1 px-10">
              <div class="badge badge-soft badge-accent mt-2">預設</div>

              <p class="text-[15px] leading-relaxed text-base-content mt-4">
                SUP立槳新手~新買了好多裝備跟下水衣!!純~炫~耀~
              </p>

              <div class="grid grid-cols-3 gap-3 mt-6">
                <div class="aspect-square rounded-2xl overflow-hidden border border-base-200 shadow-sm">
                  <img src="https://res.cloudinary.com/dbyzfq61h/image/upload/v1773888161/post10-2_mrc1mn.jpg"
                    class="w-full h-full object-cover" />
                </div>
                <div class="aspect-square rounded-2xl overflow-hidden border border-base-200 shadow-sm">
                  <img src="https://res.cloudinary.com/dbyzfq61h/image/upload/v1773888237/post10_bpo0pn.jpg"
                    class="w-full h-full object-cover" />
                </div>
              </div>

              <div class="flex items-center gap-6 mt-5 ml-2 text-base-content/60">
                <button class="flex items-center gap-1.5 hover:text-error transition-colors">
                  <i class="fa-regular fa-heart text-xl"></i>
                  <span class="text-[11px] font-bold">2</span>
                </button>
                <a href="/forum/posts/10#comment-section"
                  class="flex items-center gap-1.5 hover:text-blue-500 transition-colors">
                  <i class="fa-regular fa-comment text-xl"></i>
                  <span class="text-[11px] font-bold">6</span>
                </a>
                <button class="flex items-center gap-1.5 hover:text-warning transition-colors">
                  <i class="fa-regular fa-bookmark text-lg"></i>
                  <span class="text-[11px] font-bold">0</span>
                </button>
                <button class="flex items-center gap-1.5 hover:text-green-500 transition-colors">
                  <i class="fa-regular fa-paper-plane text-lg"></i>
                  <span class="text-[11px] font-bold">1</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="divider mx-4 text-base-content/80">留言討論</div>

        <div class="p-4 space-y-6 mb-10">
          <div class="flex gap-3">
            <div class="avatar shrink-0">
              <div class="w-9 h-9 rounded-full ring-1 ring-base-200">
                <img src="/admin/imgs/20260220153448_Giroro.png" />
              </div>
            </div>
            <div class="flex-1">
              <div class="flex items-center gap-2">
                <span class="font-bold text-[13px]">char.lie_00</span>
                <span class="text-[11px] text-base-content/40">2026-02-13</span>
              </div>
              <p class="text-[14px] mt-1 text-base-content/80">立槳新手路過。</p>
              <button
                class="text-[11px] font-bold mt-2 text-base-content/40 hover:text-primary transition-colors">回覆</button>

              <div class="mt-4 border-l-2 border-base-300 pl-4 space-y-4">
                <div class="flex gap-3">
                  <div class="avatar shrink-0">
                    <div class="w-7 h-7 rounded-full ring-1 ring-base-200">
                      <img src="/admin/imgs/20260318161323_Keroro.png" />
                    </div>
                  </div>
                  <div class="flex-1">
                    <div class="flex items-center gap-2">
                      <span class="font-bold text-[13px]">Chloe10430632</span>
                      <span class="text-[10px] text-base-content/30 font-medium">作者</span>
                    </div>
                    <p class="text-[14px] mt-1 text-base-content/80">嗨嗨~下次一起去 > < !</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="divider mx-4"></div>
        <div class="p-4 bg-base-100">
          <h3 class="font-bold text-base mb-4">推薦行程</h3>
          <div class="grid grid-cols-2 gap-3">
            <div class="border border-base-200 rounded-xl p-2 shadow-sm">
              <div
                class="aspect-[16/10] bg-base-100 border-2 border-base-200 rounded-lg flex items-center justify-center mb-2">
                <div class="w-full h-full relative">
                  <div class="absolute inset-0 flex items-center justify-center"><i
                      class="fa-solid fa-xmark text-base-content/20 text-3xl rotate-45"></i>
                  </div>
                  <div class="absolute inset-0 flex items-center justify-center"><i
                      class="fa-solid fa-xmark text-base-content/20 text-3xl -rotate-45"></i>
                  </div>
                </div>
              </div>
              <p class="text-[12px] text-base-content/60 leading-tight">
                asdasdsadassdasdasdadsasdasdasdasdas dasdasdasdasdsadassdasdasdadsasdasd
              </p>
            </div>
            <div class="border border-base-200 rounded-xl p-2 shadow-sm">
              <div
                class="aspect-[16/10] bg-base-100 border-2 border-base-200 rounded-lg flex items-center justify-center mb-2">
                <div class="w-full h-full relative">
                  <div class="absolute inset-0 flex items-center justify-center"><i
                      class="fa-solid fa-xmark text-base-content/20 text-3xl rotate-45"></i>
                  </div>
                  <div class="absolute inset-0 flex items-center justify-center"><i
                      class="fa-solid fa-xmark text-base-content/20 text-3xl -rotate-45"></i>
                  </div>
                </div>
              </div>
              <p class="text-[12px] text-base-content/60 leading-tight">
                asdasdsadassdasdasdadsasdasdasdasdas dasdasdasdasdsadassdasdasdadsasdasd
              </p>
            </div>
          </div>
        </div>

        <div class="divider mx-4"></div>
        <!-- 使用者留言 -->
        <div class="px-4 py-6 border-base-300 scroll-mt-20" id="comment-section">
          <div class="flex items-center gap-3">
            <div class="avatar shrink-0">
              <div class="w-10 h-10 rounded-full ring-1 ring-base-200 shadow-sm">
                <img src="https://api.dicebear.com/7.x/avataaars/svg?seed=User" alt="current-user" />
              </div>
            </div>

            <div class="flex-1">
              <div class="join w-full flex">
                <input type="text" placeholder="回覆 chloe451295 ......"
                  class="input input-bordered join-item flex-1 bg-base-100 text-sm focus:outline-none focus:border-primary border-r-0" />
                <button class="btn btn-primary join-item px-6 text-sm font-bold shadow-none border-l-0">
                  送出
                </button>
              </div>


            </div>
          </div>
        </div>

      </div>




    </div>
  </div>




</div>