<div data-theme="bumblebee" class="min-h-screen bg-base-200 py-10 flex justify-center">

  <div class="card bg-base-100 shadow-xl w-full max-w-5xl overflow-hidden">



    <div class=" p-8 md:p-12">
       <div class="flex justify-center border-b border-base-200 py-4">
      <app-toptab></app-toptab>
    </div>
      <app-coachedit></app-coachedit>
    </div>

  </div>

  <app-little-island class="fixed bottom-10 left-10"></app-little-island>

</div>

<div>
<app-coachedit></app-coachedit>
</div>
